<div class="jumbotron" style="padding:45px 0px" >
  <h4 class="text-center">To Do List App</h4>
</div>

<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]="task.title">
  <div class="input-group-addon hover-cursor" (click)="addTask()">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>
</div>

<div style="margin:5px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of tasks">
      <span class="hover-cursor">
        <i class="fa fa-lg"></i>
      </span>
      {{item.title}}
      <span class="hover-cursor text-danger pull-right" (click)="removeTask()">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
    </li>
  </ul>
</div>